@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    background-image: url("images/fondo.png");
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.container {
    padding-top: 14em;
    padding-left: 12em;
    padding-right: 12em;
    align-items: center;
}

.card {
    border-color: #ff9d8e;
    background-color: 	#FFF2EC;
    text-align: center;
}

.card-header {
    text-align: center;
    background-color: #D5D6E5;
}

.btn {
    background-color: #ff914d;
    border-color: black;
    color:black
}

.btn:hover {
    background-color: #ff9d8e;
    border-color: black;
    color:black
}

@media (max-width: 1200px)  {
    body {
        font-size: 14px;
    }
    .container {
        padding-top: 12em;
        padding-left: 5em;
        padding-right: 5em;
        align-items: center;
    }
}

@media (max-width: 992px)  {
    body {
        font-size: 12px;
    }
    .container {
        padding-top: 12em;
        padding-left: 5em;
        padding-right: 5em;
        align-items: center;
    }
}

@media (max-width: 576px)  {
    body {
        font-size: 12px;
    }
    .container {
        padding-top: 7em;
        padding-left: 2em;
        padding-right: 2em;
        align-items: center;
    }
}