{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}
{% block contenido %} 

    <br/>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    COMPROBÁ SI ESTÁS INCRIPTO INGRESANDO TU DNI
                </div>    
                <div class="card-body">
                    <form method="get">
                        {{ filtro.form }}
                        <button class="btn btn-primary" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </br>

    {% if cantidad == 1 %}
    <div class="card">
        <div class="card-header">
            ALUMNO INSCRIPTO
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">DNI</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Carrera</th>
                    </tr>
                </thead>
                <tbody>
                    {% for alumno in alumnos %}
                    <tr>
                        <td>{{ alumno.dni }}</td>
                        <td>{{ alumno.nombre }}</td>
                        <td>{{ alumno.carrera }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
        {% if cantidad == 0 and get == 'GET' %}
            <div class="card">
                <div class="card-body"> 
                    <h4>NO ESTÁ INSCRIPTO<h4/>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
